# Ignorar todo el contenido de la carpeta 'pdfs' en la raíz del proyecto
pdfs/*

# Ignorar todo el contenido de la carpeta 'pdfs' dentro de 'python-app'
python-app/pdfs/*

# Crea un archivo .gitkeep (o similar) dentro de cada carpeta para mantenerla vacia:
!pdfs/.gitkeep
